@import './variables.scss';

.bg-yesdok{
  background-color: $yesdok-color;
}

.bg-category{
  background-color: $article-category-color;
}

.color-yesdok{
  color: $yesdok-color;
}

.bottom-10{
  bottom: 10px;
}

.pointer{
  cursor: pointer;
}